* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(138, 178, 194, 0.89);
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer {
    background-color: black;
    color: white;
    width: 100%;
    padding: 15px;
    text-align: center;
}

a {
    text-decoration: none;
    color:white;
}

a:hover {
    color:red;
    border: 2px solid yellow;
    padding: 5px;
}

#calculator-case {
    height: 515px;
    width:  400px;
    margin: auto;
    border: 10px solid purple;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 7px black;
    background: purple;
}

#calculator-case,
.buttons {
    border-radius: 1rem;
}

.display {
    height:100px;
    width:auto;
    border-bottom: 5px solid purple;
}

.display-values {
    width: auto;
    height: 60px;
    background: white;
    font-size: 3rem;
    text-align: right;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#show-results {
    width: auto; 
    height:30px; 
    background-color: white;
    margin:auto;
    font-size: 1.8rem;
    text-align:right;
    border-bottom:3px grey solid;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.buttons {
    background-color: grey;
    height: 400px;
    width: auto;
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
}

.digits {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(7, 45px);
    row-gap: 10px;
    column-gap: 10px;
}

.item{
    border: 3px solid black;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.5rem;
    font-style: italic;
}

.item:hover{
    cursor:pointer;
}

.item:active {
    background-color: skyblue;
}

.equals-key {
    grid-column: 2/4;
    grid-row: 7/8;
    background-color: red;
}

.plus {
    grid-column: 2/3;
    grid-row: 5/6;
    background-color: purple;
}

.minus {
    grid-column: 3/4;
    grid-row: 5/6;
    background-color: purple;
}

.multiplication {
    grid-column: 2/3;
    grid-row: 6/7;
    background-color: purple;
}

.division {
    grid-column: 3/4;
    grid-row: 6/7;
    background-color: purple;
}

.clear-key {
    grid-column: 1/2;
    grid-row: 6/8;
    background-color: yellow;
    font-size: 3rem;
    font-weight: bold;
    color: red;
}

.period {
    grid-column: 3/4;
    grid-row: 4/5;
}

.backspace {
    grid-column: 1/2;
    grid-row: 4/6;
    font-size: 3rem;
    font-weight: bold;
}

.active {
    background-color:skyblue;
}

/* responsiveness for smaller screens ???

@media screen and (max-width: 400px){};

*/