* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(3, 54, 3);
    min-height: 100vh;
}

#calculator-case {
    height: 400px;
    width:  200px;
    margin: auto;
    border: 5px solid purple;
    display: flex;
    flex-direction: column;
    /* border-radius: 15px; */
}

.display {
    height:100px;
    width:190px;
    background-color: blue;
    border-bottom: 5px solid black;
}

.buttons {
    background-color: grey;
    height: 300px;
    width: 190px;
}

.digits {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}



.item{
    width: 50px;
    height: 50px;
    border: 3px solid black;
    border-radius: 10px;
}