* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(138, 178, 194, 0.89);
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer {
    background-color: black;
    width: 100%;
    padding: 15px;
    text-align: center;
}

a {
    text-decoration: none;
    color:white;
    font-weight: bold;
}

a:hover {
    color:red;
    border: 2px solid yellow;
    padding: 5px;
}

#calculator-case {
    /* height: 515px; */
    height: 460px;
    width:  400px;
    margin: auto;
    border: 10px solid purple;
    background: purple;
    box-shadow: 0 0 10px 7px black;
    display: flex;
    flex-direction: column;
}

#calculator-case,
.buttons {
    border-radius: 1rem;
}

.display {
    padding: 10px;
    height:100px;
    width:auto;
    border-bottom: 5px solid purple;
}

.display-values {
    width: auto;
    height: 60px;
    background: white;
    font-size: 3rem;
    text-align: right;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding-right: 5px;
}

#show-results {
    width: auto; 
    height:30px; 
    background-color: white;
    margin:auto;
    font-size: 1.8rem;
    text-align:right;
    border-bottom:3px grey solid;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding-right: 5px;
}

.buttons {
    height: 350px;
    width: auto;
    padding:10px;
    padding-top: 20px;
}

.digits {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 55px);
    row-gap: 10px;
    column-gap: 10px;
}

.item{
    border: 3px solid black;
    border-radius: 10px;
    font-weight: bold;
    font-size: 2rem;
    font-style: italic;
}

.item:hover{
    cursor:pointer;
}

.item:active {
    background-color: skyblue;
}

.equals-key {
    grid-column: 4/5;
    grid-row: 5/6;
    background-color: yellow;
}

.plus {
    grid-column: 4/5;
    grid-row: 1/2;
    background-color: yellow;
}

.minus {
    grid-column: 4/5;
    grid-row: 2/3;
    background-color: yellow;
}

.multiplication {
    grid-column: 4/5;
    grid-row: 3/4;
    background-color: yellow;
}

.division {
    grid-column: 4/5;
    grid-row: 4/5;
    background-color: yellow;
}

.clear-key {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 2rem;
    font-weight: bold;
}

.period {
    grid-column: 2/4;
    grid-row: 5/6;
}

.backspace {
    grid-column: 3/4;
    grid-row: 1/2;
    font-size: 2rem;
    font-weight: bold;
}

.active {
    background-color:skyblue;
}

.item.mode {
    background-color: purple;
    border-style: none;
    box-shadow: 0 0 10px 2px yellow;
}

.dark-mode {
    background-color: black;
}

#footer.footer-dark {
    background-color: rgba(138, 178, 194, 0.89);
}

.link-dark {
    color:black;
    font-weight: bold;
}

#calculator-case.case-dark {
    box-shadow: 0 0 10px 7px rgba(138, 178, 194, 0.89);
}

.moon-image {
    width:50px;
    height:50px;
}


/* @media screen and (max-width: 500px) {

} */